{% extends 'base.html' %}


{% block content %}
    
    
<h2>Golfers</h2>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<ul>
    {% for g in golfers %}
        <li>{{ g }} <a href="{% url 'golferdetails' g.id %}">[View details]</a></li>
    {% empty %}
        <li>No golfers yet.</li>
    {% endfor %}
    <li><a href="{% url 'addgolfer' %}">Add golfer</a></li>
</ul>
{% endblock content %}

