<footer class="footer-10">
    <div class="container">
        <div class="row mb-2 no-gutters">
            <div class="col-md-7 mb-md-0  d-flex">
                <div class="con con-3 w-100 py-3">
                    <div class="con-info w-100">
                        <div class="text">
                            <h1>San Francisco, California</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-md-0 d-flex">
                <div class="con con-3 w-100 py-3">
                    <div class="con-info w-100 text-center">
                        <div class="text">
                            <span>In Partnership with IBM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 pd-10 mb-md-0 mb-4">
                        <h2 class="footer-heading">About</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="d-block">Out story</a></li>
                            <li><a href="#" class="d-block">Awards</a></li>
                            <li><a href="#" class="d-block">Our Team</a></li>
                            <li><a href="#" class="d-block">Career</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-4">
                        <h2 class="footer-heading">Company</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="d-block">Our services</a></li>
                            <li><a href="#" class="d-block">Clients</a></li>
                            <li><a href="#" class="d-block">Contact</a></li>
                            <li><a href="#" class="d-block">Press</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3  mb-md-0 mb-4">
                        <h2 class="footer-heading">Resources</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="d-block">Blog</a></li>
                            <li><a href="#" class="d-block">Newsletter</a></li>
                            <li><a href="#" class="d-block">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-4">
                        <div class="col-md-4 mb-md-0 mb-4">
                            <h2 class="footer-heading">Resources</h2>
                            <ul class="list-unstyled">
                                <li><a href="#" class="d-block">Blog</a></li>
                                <li><a href="#" class="d-block">Newsletter</a></li>
                                <li><a href="#" class="d-block">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

        <hr>

        <div class="row pb-5 mt-2 copyright-part">
            <div class="col-md-3 col-lg-5 mb-md-0 mb-4">
                <h4 class="copyright mb-0">
                    Copyright &copy;
            <a href="https://colorlib.com"
                        target="_blank">Colorlib.com</a>
                </h4>
            </div>
            <div class="col-md-4 col-lg-4 text-md-right ">
                <h4>Company</h4>
                
            </div>
            <div class="col-md-3 col-lg-2 text-md-right">
                <h4>Your Company</h4>
            </div>
        </div>
    </div>
</footer>